* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow-x: hidden;
  overflow-y: hidden; */
  background-color: #ffffff;
}

#close {
  float: right;
}

.center {
  margin: auto;
}

.modal-box {
  position: absolute;
  left: -100px;
  width: 500px;
  max-width: 80%;
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  transition: 0.4s;
}

.modal-box.show-modal {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}

.start-btn.show-modal {
  opacity: 0;
  visibility: hidden;
}

body {
  background-color: #333333;
}

.arrow {
  border-radius: 50%;
  font-size: 35px;
  text-align: center;
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
}

.arrow-left {
  background-color: #ffffff;
  color: #000000;
}

.arrow-right {
  background-color: #000000;
  color: #ffffff;
}

.arrow-left:hover {
  transform: scale(1.5);
}

.arrow-right:hover {
  transform: scale(1.5);
}
